<header>
    <img src="assets/img/luiz.png"
    alt="Foto luiz - perfil" 
    width="130px"
     height="130px"
     loading="eager"/>
     <h1>Luiz Henrique Santos Sousa Diniz</h1>
</header>

<aside>
    <div class="container">
        <p>Full-Stack .net | Javascript | Angular | NodeJs</p>
        <p>Poá, São Paulo, Brasil</p>
        <p>
          Estou na área de desenvolvimento de software mais de 6 anos. Devido isso
          resolvi abraçar a stack JS .net .
        </p>
    </div>

<nav>
    <ul>
        <li>
            <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
                Download CV
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/luiz-henrique-539b0674/" target="_blank" class="btn btn-secondary">
                LinkedIn
            </a>
        </li>
    </ul>
</nav>

<section>
    <figure>
        <img
            src="assets/icons/whatsapp.svg"
            alt="icone para contato do whatsapp"
            width="22px"
            height="24px"
        />
    <figcaption>
        <a href="https://api.whatsapp.com/send?phone=5511935000584&text=Ol%C3%A1%20Luiz,%20preciso%20de%20um%20job!"
        target="_blank">
        <strong>Envie uma menssagem para:</strong>
        <p>WhatsApp: (11) 9 3500-0584</p></a>
    </figcaption>

    </figure>
    <figure>
        <img
            src="assets/icons/mail.svg"
            alt="icone para contato do email"
            width="22px"
            height="24px"
        />
    <figcaption>
        <a href="mailto:lhenrique_diniz@hotmail.com"
        target="_blank">
        <strong>Envie uma e-mail para:</strong>
        <p>lhenrique_diniz&#64;hotmail.com</p></a>
    </figcaption>

    </figure>
</section>

</aside>